.container {
    position: relative;
    width: 100vw;
    max-width: 500px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        margin-bottom: 0.5rem;
        font-family: 'Bradford LL TT', serif;
        font-size: 3rem;
        font-weight: 300;
        line-height: 3.625rem;
        color: #a8472f;

    }


    p {
        margin: 0 0 1.5rem;
        font-size: .8rem;
        letter-spacing: .06em;
        line-height: 1.375rem;
        color: #a8472f;
    }

    .register {
        margin-top: 1.5rem;


        span {
            color: black;
            font-size: 1rem;
            letter-spacing: .06em;
            line-height: 1.375rem;


            .link {
                text-decoration: none;
                border-bottom: solid 1px;
                color: #000;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: .06em;
                position: relative;
            }

            .link:hover {
                color: #a8472f;
                border-bottom: solid 1px #a8472f;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .container span {
        font-size: 4.5rem;
        line-height: 4.625rem;
    }

}