.outer_container {
    position: fixed;
    width: 100vw;
    height: 70vh;
    top: 3.2rem;
    left: 0;
    min-height: 30rem;

    background-image: url('//cdn.shopify.com/s/files/1/0327/1609/5533/files/account-top-left_375x.png?v=1672932330');
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: top left;
    border-bottom: solid 5px #000000;

    &::before {
        content: '';
        position: absolute;
        background: url('//cdn.shopify.com/s/files/1/0327/1609/5533/files/account-bottom-right_375x.png?v=1672932330')
            0 0 no-repeat;
        width: 100%;
        height: 100%;
        z-index: -1;
        bottom: 0;
        right: 0;
        background-position: right bottom;
        background-size: 100px;
    }
}

.inner_container {
    position: relative;
    width: 100vw;
    max-width: 500px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form_container {
        position: relative;
        width: 90%;
        margin: 1rem auto;
    }

    .span {
        margin-bottom: 0.5rem;
        font-family: var(--font-serif);
        font-size: 3rem;
        font-weight: 300;
        line-height: 3.625rem;
        color: #a8472f;
    }

    p {
        margin: 0;
        font-size: 0.8rem;
        letter-spacing: 0.06em;
        line-height: 1.375rem;
        color: #a8472f;
    }

    .navigation {
        margin-top: 1.5rem;

        span {
            color: black;
            font-size: 0.8rem;
            letter-spacing: 0.06em;

            .link {
                text-decoration: none;
                border-bottom: solid 1px;
                color: #000;
                cursor: pointer;
                font-size: 0.8rem;
                font-weight: 400;
                letter-spacing: 0.06em;
                position: relative;
            }

            .link:hover {
                color: #a8472f;
                border-bottom: solid 1px #a8472f;
            }
        }
    }
}

@media screen and (min-width: 62.5rem) {
    .outer_container {
        margin-top: 5%;
        background-size: 220px;
        &::before {
            background-size: 170px;
        }
    }
    .inner_container span {
        font-size: 4.5rem;
        line-height: 4.625rem;
    }

    .navigation {
        span {
            font-size: 1rem;
            .link {
                font-size: 1rem;
            }
        }
    }
}
