.container {
  width: 100%;
  margin: auto;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.subhero_card {
  position: relative;
  width: 100%;
  height: 49vw;
  max-height: 900px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.inner_subhero {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    width: fit-content;
    background-color: #ffffff;
    color: #000000;
    margin: 24px 0 0;
    border: 1px solid transparent;
    font-size: 0.75rem;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.15em;
    padding: 12px 24px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
  }
  a {
    color: inherit;
  }
}
.subhero_title {
  color: #ffffff;
  font-family: 'Bradford LL TT', serif;
  font-size: 3.5rem;
  font-weight: 300;
}

@media screen and (max-width: 80rem) {
  .subhero_card {
    height: 54vw;
  }
}

@media screen and (max-width: 62.5rem) {
  .container {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 47.5rem) {
  .subhero_card {
    height: 145vw;
  }
  .subhero_title {
    font-size: 2.5rem;
  }
}
