.product_details {
  width: 100%;
  padding: 0 1.5rem;
}
.product_details_header {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.header_container {
  padding-bottom: 2rem;
  border-bottom: 3px solid #0a3524;
}
.product_details_header_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.product_title {
  font-size: 2rem;
  color: #0a3524;
  font-family: 'Bradford LL TT', serif;
  font-weight: 300;
}
.product_price {
  font-size: 1.1rem;
  color: #0a3524;
  font-family: 'Biennale', sans-serif;
}

.product_subheading {
  color: #0a3524;
  font-family: 'Biennale', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.product_variants_section {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
}
.product_sub_header {
  color: #0a3524;
  font-family: 'Biennale', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.product_variants_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.product_variant_item {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #0000003a;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
  }
}
.product_variant_item.active {
  border: 1px solid #0a3524;
}

.product_sub_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
  justify-content: flex-start;
  gap: 0.5rem;
}

.sub_details_item {
  display: flex;
  gap: 1rem;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    fill: #0a3524;
  }
  p {
    color: #0a3524;
    font-family: 'Biennale', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.06em;
  }
}

@media screen and (max-width: 62.5rem) {
  .product_details {
    padding: 0 0.5rem;
    max-width: 46.875rem;
    margin: auto;
  }
}
